@charset "utf-8";
/* CSS Document */
#cabecera{
	background-color:#1C53E9;
}

aside{background-color:#1C53E9; 
float:left;
height: 1000px;}

section{background-color:#24DCD3;
margin-left:210px;
padding-left: 15px;
padding-top: 15px;}


#pie{background-color:#1C53E9;}

li{background-color:#24DCD3;
display: inline;}

